<section class="h-screen">
  <div class="px-6 h-full text-gray-800">
   <div class="text-center bg-white-50 text-gray-800 py-20 px-6">
    <h1 class="text-3xl font-bold mt-0 mb-6">Selecciona la imagen que deseas convertir a texto.</h1>
    <h3 class="text-3xl font-bold mb-8"></h3>
    </div>
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center g-6" style="
    justify-content: center;"
    >
<div
        class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0"
      >
<%= form_for @convert_image, html: { multipart: true}, method: :post do |f| %>   
    <div class="mb-6">   
    <%= f.file_field :image, class: "form-control
    block
    w-full
    px-2
    py-1.5
    text-xl
    font-normal
    text-gray-700
    bg-white bg-clip-padding
    border border-solid border-gray-300
    rounded
    transition
    ease-in-out
    m-0
    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>  
    </div>

    <div class="text-center lg:text-center">
    <%= f.button "Continuar", type: "submit", class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out", style:"background-color: rgb(215, 59, 27);"%>
<% end %>
<br>
<br>

<%if @convertI.present? %>
    <h5 class="font-medium leading-tight text-xl" style="
    justify-content: center;"> Tu texto es: <%=@message%></h5>
    <%else%>
    <h5 class="font-medium leading-tight text-xl" style="
    justify-content: center;"> No ha sido posible detectar el texto de tu imagen ¡Lo sentimos!</h5>
    <%end%>
</div>
</div>
</div>
</section>